<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.demo.mybatis.mapper.EmployeeMApper">
	<resultMap type="com.example.demo.mybatis.entity.Employee" id="EmployeeMapper">
		<result column="id" jdbcType="INTEGER" property="id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="admin" jdbcType="VARCHAR" property="admin"/>
	</resultMap>
	<select id="findAll" resultMap="EmployeeMapper">
		select id, name, admin from employee
	</select>
</mapper>